*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body{
    background: url("/image/background.png");
    background-size: auto;
    background-position: auto;
    background-repeat: no-repeat;
    font-family: sans-serif;
    overflow: scroll;
    
    
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
}
header h1{
    margin-top: 7rem;
    color: rgb(205, 238, 144);
    font-size: 2rem;
    letter-spacing: .5rem;
    line-height: 1rem;
    opacity: .4;
}
header p{
    margin-top: 2rem;
    font-size: 2rem;
    letter-spacing: 1.2rem;
    line-height: 1rem;
    color: #000;
    
}

#ticking{
    font-size: 2.5rem;
    display: flex;
    font-weight: bold;
    color: #fff;
    margin-top: 2rem;
 
    
}
#ticking div{
    display: block;
    margin: 0 0.5rem;
}
#ticking div span{
    color: #fff;
    margin-right: 10px;
}

#date{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #fff;


}
#date div span{
    
    margin-left:10px;
}

#date #day span{
    font-size: 2.3rem;
    color: red;
}

.task-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.content{
    display: flex;
    justify-content: flex-start;
}
#quoteContainer{
    border: 1px solid #fff;
    width: 300px;
    height: auto;
    margin-top:20px;
    margin-left: 20px;
    border-radius: 5px;
    padding-left: 10px;
    text-align: center;
    padding-top: 10px;
}
#quoteContainer p{
    
    font-size: 1.5rem;
    color: rgb(132, 255, 0);
    letter-spacing: .2rem;
    margin-bottom: 20px;
}
#quoteContainer span{
    padding-left: 0 1.5rem;
    text-align: center;
    font-size: 1.2rem;
    color: bisque;
}
#quoteContainer .person{
    margin-top: 10px;
    margin-bottom: 10px;
    color: red;
    font-size: 1rem;
}



.container #new-task-form{
    width: 100%;
    display: flex;
}
.container #new-task-form #task-input{
    flex: 1 1 0%;
    height: 50px;
    width: 350px;
    border-color: #fff;
    background-color: transparent;
    padding: 1rem;
    margin-top: 1.5rem;
    border-radius: .5rem;
    margin-right: 1rem;
    color: #EEE;
    font-size: 1.25rem;
    outline: none;
}
.container #new-task-form #task-submit{
    border: none;
    color: #ecd348;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 1.5rem;
    background-image: linear-gradient(to right, #ecd348, #EC4899);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}


.container h2{
    margin-top: 50px;
    font-size: 1.5rem;
    font-weight: 300;
    color: rgb(224, 238, 144);
    margin-bottom: 1rem;
    opacity: .4;
}
.container #tasks .task{
    display: flex;
    justify-content: space-between;
   
    padding: .2rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

#tasks .task .content{
    flex: auto;
}

#tasks .task .content .text{
    color: #fff;
    border: none;
    font-size: 1.5rem;
    background-color: transparent;
    width: 100%;
    height: 30px;
    display: block;
    transition: 0.4s;
    margin-right: 20px;
}
#tasks .task .actions{
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button{
    border: none;
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transform: 0.4s;
}

.task .actions button{
    opacity: 0.8;
}

.task .actions button{
    opacity: 0.6;
}

.task .actions .edit, .delete{
    background-image: linear-gradient(to right, #ecd348, #EC4899);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.task .actions .delete{
    color: crimson;
}
.error {
    background-color: red;
    color: #fff;
    padding: 5px;
    margin: 5px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.2rem;  
}
.footer p{
    margin-top: 30px;
    margin-bottom: 10px;
    
}
#count-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-size: 1.2rem; 
      

}
#count-container span{
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 1rem;
   
}

@media screen and (max-width:576px) {
    header h1{
        margin-top: 50px;
        width: 100%;
        font-size: 1.2rem;
        text-align: center;
        line-height: 1.5rem;
    }
    #ticking{
        font-size: 1.5rem;
    }
    #date{
        font-size: 1.4rem;
    }
  
    .container #new-task-form #task-input{
        flex: 0;
        width: 250px;
        height: 25px;
        margin-right: .5rem;
        margin-left: .5rem;
       margin-top: 1rem;
       
    }
    .container #new-task-form #task-submit{
        font-size: 1.2rem;
        margin-top: 1rem;
    }
    .container h2{
        font-size: 1.2rem;
        padding-left: .3rem;
    }
    .container #tasks{
        width: 100%;
    }
   
    #tasks .task .content .text{
        
        margin-right: 10px;
        font-size: 1.2rem;
    }

    #count-container{
        font-size: 1rem;
        justify-content: center;
        
    }
    #count-container p{
    margin-right: 20px;
    margin-bottom: 20px;
    }
    #tasks .task .actions{
        margin: 0 0.7rem;
    }
    .task .actions button{
        font-size: 1rem;
    }
    #quoteContainer{
        width: 250px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #quoteContainer p{
        font-size: 1rem;
        margin-bottom: 10px;
        text-align: center;
        padding: 0 1rem;
    }
    #quoteContainer span{
        padding: .5rem .5rem;
        
    }
    .footer{
        
        font-size: 1rem;

        text-align: center;
    }
    
}